<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM">
    
    <listeners>
        <listener class-name="com.OrangeHRMFlow.Utilities.Reporting" />
    </listeners>
    
    <test name="OrangeHRM Architecture">
        <parameter name="browser" value="chrome"/>
        <classes>
     <class name="com.OrangeHRMFlow.TestCases.TC_001_Login" /> 
     <class name="com.OrangeHRMFlow.TestCases.TC_001_Myinfo" /> 
     <class name="com.OrangeHRMFlow.TestCases.TC_002_LoginTestData" /> 
     
       
        
        </classes>
    </test>
    
</suite>